@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
<head>
    <title>Privacy Page</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
</head>
<body>
    <header>
        <center>
            <a href="/Home/Index" class="btn btn-primary">Home</a>
            <a href="/Home/AboutUs" class="btn btn-primary">About Us</a>
            <a href="/Home/ContactUs" class="btn btn-primary">Contact Us</a>
            <a href="/Home/Privacy" class="btn btn-primary">Privacy</a>
        </center>
    </header>
    <div>
        <footer>
            <center>Copyright Salma Nagy @DateTime.Now.Year</center>
        </footer>
    </div>
</body>
</html>